<p>
  <b>Detail:</b>
  <%=h @venue_type_detail.detail %>
</p>


<%= link_to 'Edit', edit_venue_type_detail_path(@venue_type_detail) %> |
<%= link_to 'New', new_venue_type_detail_path %> |
<%= link_to 'Back', venue_type_details_path %>